aliyunpan==3.0.9
appdirs==1.4.4
aria2p==0.10.4
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.10.5
chardet==4.0.0
charset-normalizer==3.4.3
click==8.0.4
click-aliases==1.0.1
colorama==0.4.6
distlib==0.4.0
filelock==3.20.0
idna==2.10
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
MarkupSafe==3.0.3
npyscreen==4.10.5
oqs==0.10.2
packaging==25.0
pipenv==2025.0.4
platformdirs==4.5.0
pyasn1==0.6.1
pycryptodome==3.23.0
PyJWT==2.10.1
pyperclip==1.8.2
requests==2.25.1
rsa==4.9.1
ruamel.base==1.0.0
ruamel.yaml.clib==0.2.14
scapy==2.6.1
setuptools==80.9.0
simplejson==3.17.6
six==1.17.0
soupsieve==2.8
toml==0.10.2
treelib==1.6.4
typing_extensions==4.15.0
urllib3==1.26.20
virtualenv==20.35.3
websocket-client==1.9.0
Werkzeug==3.1.3
